<div class="border-bottom row"  style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-9">
  <h4 style = "
    color:rgb(120,120,120);
    margin-bottom:4px;
    "
    ">
    {{job['title']}}
  </h4>
  <div><b>Location:</b>{{job['location']}}</div>
  {% if 'salary' in job %}
  <div><b>Salary:</b>{{job['salary']}}</div>
  {% endif %}
</div>
  <div class="col-2 pad-right:16px"">
  <a href="mailto:hellojovian.ai?subject=Application%20for {{job['title']}}&body=Name%3A%0D%0A%0D%0AResume%3A%0D%0A%0D%0ALikedIn%3A" type="button" class="btn btn-outline-primary float-end align-middle"  ">Apply</a>
  </div>

</div>